
ZaparooEsp32/ZaparooEsp32.hpp
/svelte-esp32/node_modules
/svelte-esp32/dist
/websrc/*.gz
/websrc/*.csv
/websrc/*.json
/websrc/index.html
/svelte-esp32/.vscode
svelte-esp32/package-lock.json
/web/.vscode
svelte-esp32/.env
